body{
    background-color: #000;
}
.shape_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000 !important;
}

.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 30px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  color: #8A9BA8;
}

.shape {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
}

.blade_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 150px;
  background-size: 135px 64px;
  background-position: top left;
  animation: reveal2 cubic-bezier(0.35, 0.9, 0.05, 1) 1s forwards;
}

.word_container {
  width: 0;
  overflow: hidden;
  animation: reveal_word cubic-bezier(0.35, 0.9, 0.05, 1) 1.8s forwards;
}

.blade_1 {
  background-image: url("https://climine.vishok.tech/logo.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blade_2 {
  background-image: url("");
}

.blade_3 {
  background-image: url("");
}

.blade_4 {
  background-image: url("");
}

.blade_container {
  display: flex;
  position: absolute;
  width: 135px;
  height: 64px;
  justify-content: flex-end;
}
.blade_container.blade_1_container {
  top: 0;
  left: 0;
}
.blade_container.blade_2_container {
  top: 35px;
  right: -36px;
  transform: rotateZ(90deg);
}
.blade_container.blade_3_container {
  bottom: 0;
  right: 0;
  transform: rotateZ(180deg);
}
.blade_container.blade_4_container {
  bottom: 35px;
  left: -36px;
  transform: rotateZ(270deg);
}

.blade_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  display: block;
  margin-left: 50px;
  width: 520px;
  height: 150px;
  background-size: 520px 83px;
  background-position: top left;
  background-image: url("text.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes reveal_word {
  50% {
    width: 0;
  }
  100% {
    width: 570px;
  }
}
@keyframes reveal1 {
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes reveal2 {
  0% {
    width: 0%;
    left: 0;
  }
  100% {
    width: 100%;
  }
}